testdata/expected/large.code_coverage filter=lfs diff=lfs merge=lfs -text
testdata/expected/large.verbose_cfg filter=lfs diff=lfs merge=lfs -text
*.code_coverage filter=lfs diff=lfs merge=lfs -text
*.verbose_cfg filter=lfs diff=lfs merge=lfs -text
